@import "tailwindcss";
@import "flowbite";

@theme {
  --color-primary: #3F523F;
  --color-secundary: #F2ECE0;
  --color-buttons: #7D845F;
  --color-buttonsHover: #707C56;
  --color-inputs: #D2BE99;
  --color-inputsHover: #D2BE94;
  --color-detalhes: #986D55;
  --color-background: #DAD7CD;
}
body {
  background-color: var(--color-background);
}

@layer components {
  /* INPUTS */
  .flowbite-input,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background-color: #F2ECE0;
    color: #986D55;
    border-color: #986D55;
  }

  input::placeholder,
  textarea::placeholder {
    color: #986D55;
    opacity: 0.7;
  }

  input:focus,
  textarea:focus {
    border-color: #986D55;
    --tw-ring-color: #986D55;
  }

  /* MODAL */
  .flowbite-modal,
  [role="dialog"] {
    background-color: #F2ECE0;
    color: #986D55;
  }

  /* MODAL OVERLAY */
  .flowbite-modal-backdrop {
    background-color: rgba(242, 236, 224, 0.8);
    backdrop-filter: blur(4px);
  }
}

